div {
    margin: 0px
}

h1 {
    font-family: sans-serif;
}
p {
    color: grey;
}

img {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    height: 450px;
    width: 900px;
}

/*MiApp*/
.container {
    text-align: center;
    margin: 200px;
    font-family: sans-serif;
}

#entering #action {
    color: black;
}

.campo {
    width: 300px;
    height: 30px;
    border-color: gainsboro;
    border-radius: 10px;
}

#button #signup {
    font-family: sans-serif;
    background-color: black;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#lines-effect{
    display: inline-block;
    position: relative;
}

#lines-effect::after,#lines-effect::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: grey;
    top: 1.5em;
}

#lines-effect::before{
    left: -110px;
}
#lines-effect::after{
    right: -110px;
}

.external-login {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 100px;
    margin: 5px 300px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    cursor: pointer;
}

.external-login img {
    width: 20px;
    margin: 5px 5% 5px 1%;
    height: 20px;
}

b {
    color: black;
}

/*Contactos*/
header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.wrapper #full-profile .people {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    margin-top: 200px;
}

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row column;
    margin-left: 10px;

}

img.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.profile .profile .profile-email {
    display: flex;
    flex-direction: row;
    color: grey;
    margin-left: 50px;

}

/*Posts*/
.post {
    border: 1px solid #ccc;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;}

.above {
    padding: 10px;
    display: flex;
    align-items: center;
}


.above img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.above .username {
    font-weight: bold;
}

.image img {
    width: 100%;
}

.likes, .comments {
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.likes img, .comments img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}