<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiApp name</title>
    <link rel="stylesheet" href="/Tarea4UsoBasicoFlex/assets/css/style.css">
</head>
<head><b>Mi App</b></head>
<div class="container">
    <h2><b>Create an account</b></h2>
    <div id="entering">
        <p id="action">Enter your email to sign up for this app</p>
    </div>

    <div id="email">
        <input class="campo" type="email" placeholder="email@domain.com">
    </div>

    <div id="button">
        <button id="signup">Sign up with email</a></button>
    </div>

    <div id="lines-effect">
        <p>or continue with </p>
    </div>

    <a class="external-login">
        <img src="../assets/icons/Google.png" alt="" /> <span>Google</span>
    </a>

<footer id="end">
    <p class="footer">By clicking continue, you agree to our <b>Terms of <br>
        Service</b> and <b>Privacy & Policy</b></p>
</footer>

</div>
</body>
</html>