<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div>
    <h1>Nuestros ingredientes</h1>
    <p>Subheading that sets up context, shares more info about the</p>
    <p>author or generally get people physhed to keep reading</p>
    <img src="../assets/images/banner.png" alt="banner">
    </div>
</body>
</html>