<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/Tarea4UsoBasicoFlex/assets/css/style.css">
</head>
<body>
<div class="wrapper">
    <div id="full-profile">
    <header>Contactos</header>
    <ul class="people">
        <li class="profile">
            <img class="profile-picture" src="../assets/images/helena.png" alt="">
            <div class="profile">
                <span class="profile-name">Helena</span>
                <span class="profile-email">email@figmasfakedomain.net</span>
            </div>
        </li>

        <li class="profile">
            <img class="profile-picture" src="../assets/images/oscar.png" alt="" >
            <div class="profile">
                <span class="profile-name">Oscar</span>
                <span class="profile-email">email@figmasfakedomain.net</span>
            </div>
        </li>

        <li class="profile">
            <img class="profile-picture" src="../assets/images/daniel.png" alt="" >
            <div class="profile">
                <span class="profile-name">Daniel </span>
                <span class="profile-email">email@figmasfakedomain.net </span>
            </div>
        </li>

        <li class="profile">
            <img class="profile-picture" src="../assets/images/jay.png" alt="" >
            <div class="profile">
                <span class="profile-name"> Daniel Jay Park </span>
                <span class="profile-email">email@figmasfakedomain.net</span>
            </div>
        </li>

        <li class="profile">
            <img class="profile-picture" src="../assets/images/mark.png" alt="" >
            <div class="profile">
                <span class="profile-name">Mark Rojas</span>
                <span class="profile-email">email@figmasfakedomain.net</span>
            </div>
        </li>
    </ul>
</div> 
</div>
</body>
</html>