<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Posts</title>
<link rel="stylesheet" href="/Tarea4UsoBasicoFlex/assets/css/style.css">
</head>
<body>
<div class="post">

<div class="above">
    <img src="../assets/images/helena.png" alt="Foto de perfil"><span class="username">Helena</span>
</div>
<div class="image"><img src="post-image.jpg" alt="Imagen de la publicación"></div>
<div class="likes">2 Likes<img src="../assets/icons/Heart.png" alt=""></div>
<div class="comments">5 Comments <img src="../assets/icons/Comment.png" alt=""></div>

<div class="above">
    <img src="../assets/images/daniel.png" alt="Foto de perfil"><span class="username">Daniel</span>
</div>
<div class="image"><img src="post-image.jpg" alt="Imagen de la publicación"></div>
<div class="likes">21 Likes <img src="../assets/icons/Heart.png" alt=""></div>
<div class="comments">4 Comments <img src="../assets/icons/Comment.png" alt=""></div>

<div class="above">
    <img src="../assets/images/oscar.png" alt="Foto de perfil"><span class="username">Oscar</span>
</div>
<div class="image"><img src="post-image.jpg" alt="Imagen de la publicación"></div>
<div class="likes">3 Likes <img src="../assets/icons/Heart.png" alt=""></div>
<div class="comments">7 Comments <img src="../assets/icons/Comment.png" alt=""></div>

</div>
</body>
</html>